<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.IO</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/script.js"></script>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <button onclick="choiceSelected('rock')" id="rock">Rock</button>
  <button onclick="choiceSelected('paper')" id="paper">Paper</button>
  <button onclick="choiceSelected('scissors')" id="scissors">Scissors</button>
  <button onclick="lockIn()" id="lockIn">Lock In Choice</button>
</body>

</html>