<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.IO</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/script.js"></script>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <div id="username_Section">
    <div id="username_Input_Section">
      <h1 id="username_Section_Title">Please enter your username!</h1>
      <input type="text" placeholder="Username" id="username_Entry_Field" />
      <button onclick="submitUsername()" id="submit_Username">Submit</button>>
    </div>
    <h1 id="username_Section_Title_Waiting">Please wait while your opponent submits their username</h1>
  </div>
  <div id="gameSection">
    <button onclick="choiceSelected('rock')" id="rock">Rock</button>
    <button onclick="choiceSelected('paper')" id="paper">Paper</button>
    <button onclick="choiceSelected('scissors')" id="scissors">Scissors</button>
    <button onclick="lockIn()" id="lockIn">Lock In Choice</button>
  </div>
</body>

</html>